<div class="container">
    <h4>
      Liste des foodtrucks autour de
      <%= @city %>
    </h4>

    <% @open_days.each do |openday| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to openday.food_truck do  %>
          <div class="foodtruck-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= helper_picture_url(openday.food_truck)%>">
            <p class="foodtruck-card-name">
              <%= openday.food_truck.name %>
            </p>
            <p class="foodtruck-card-open"> <%= openday.open_now? ? "Open" : "Close" %></p>
            <p class="foodtruck-card-address">
              <%= openday.address %>
            </p>
            <p class="food_truck-card-hour">
              <%= openday.time_opened_hour%> | <%= openday.time_closed_hour %>
            </p>
            <p class="food_truck-card-category">
              <% if !openday.food_truck.category.nil? %>
                <%= openday.food_truck.category.name %>
              <% end %>
            </p>
            <a href="tel:<%= openday.food_truck.phone.gsub(' ', '') %>" class="btn btn-danger food_truck-card-phone"><i class="fa fa-mobile" aria-hidden="true"></i>
            <%= openday.food_truck.phone.gsub(' ','').scan(/../).join('.') %>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
</div>

