<div class="container">
    <h4>
      Liste des foodtrucks autour de
      <%= @city %>
    </h4>


    <% @food_trucks.each do |food_truck| %>
      <%= food_truck.open_days.inspect %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= link_to food_truck do  %>
          <div class="foodtruck-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= helper_picture_url(food_truck)%>">
            <p class="foodtruck-card-name">
              <%= food_truck.name %>
            </p>
            <p class="foodtruck-card-open"> <%= food_truck.open_days.first.open_now? ? "Open" : "Close" %></p>
            <p class="foodtruck-card-address">
              <%= food_truck.open_days.first.address %>
            </p>
            <p class="food_truck-card-hour">
              <%= food_truck.open_days.first.time_opened_hour%> | <%= food_truck.open_days.first.time_closed_hour %>
            </p>
            <p class="food_truck-card-category">
              <% if !food_truck.category.nil? %>
                <%= food_truck.category.name %>
              <% end %>
            </p>
            <a href="tel:<%= food_truck.phone.gsub(' ', '') %>" class="btn btn-danger food_truck-card-phone"><i class="fa fa-mobile" aria-hidden="true"></i>
            <%= food_truck.phone.gsub(' ','').scan(/../).join('.') %>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
</div>

