<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <%= @food_truck.name %>
      </h2>
        <%= helper_picture_tag(@food_truck) %>
      <a href="" class="btn btn-primary btn-large">Call 06.06.06.06.06</a>
    </div>
    <% @food_truck.open_days.each do |open_day| %>
      <div class="col-xs-12 col-sm-6">
        <div class="btn btn-danger btn-large foodtruck-days-informations">
          <p>
            <%= open_day.name_of_day %>
            <%= open_day.time_opened_hour %>
            |
            <%=open_day.time_closed_hour%>
          </p>
          <p>
            <%= open_day.address %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

