<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Show page
      </h2>
      <%= @pizza.name %>
      <p>
        <%= @pizza.description %>
      </p>
        <% if @pizza.photos? %>
          <% @pizza.photos.each do |photo| %>
              <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
          <% end %>
        <% end %>
      <ul>
        <% @ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
      <%= link_to "back", pizzas_path, class: 'btn btn-danger btn-xs' %>
      <%= link_to "Edit", edit_pizza_path(@pizza), class: "btn btn-primary btn-xs" %>
    </div>
  </div>
</div>
