<div class="navbar-wagon ">
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
        <li>
          <%= link_to root_path do %>
            <p>home</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_food_truck_path do %>
            <p><%= t('.add_a_foodtruck') %></p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <!-- Logo first version-->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

<!--   <%= link_to carts_path do %>
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
  <% end %> -->

  <!-- Right Navigation -->
  <div class="navbar-wagon-right ">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".home", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login text link -->
      <%= link_to new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="fa fa-user" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

</div>

