<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <%= @food_truck.name %>
      </h2>
      <div class="foodtruck-picture" style="background-image: url(<%= helper_picture_url(@food_truck) %>);">
      </div>
    </div>
    <div class="col-xs-12 add-padding-top add-padding-bottom">
      <a href="<%= 'tel:' + @food_truck.phone %>" class="btn btn-danger btn-block"><%= t('.call') %> <%= @food_truck.phone %></a>
      <!-- TODO replace call by a fontawesome.io phone -->
    </div>
    <div class="col-xs-12 add-padding-bottom">
      <%= link_to food_truck_pizzas_path do %>
        <div class="btn btn-danger btn-block">
          Menu
        </div>
      <% end %>
    </div>
  </div>
    <% @open_days.each do |open_day| %>
      <div class="col-xs-12 col-sm-6 open-day-card-color">
        <div class="open-day-div">
          <p>
            <%= open_day.name_of_day %>
            <%= open_day.time_opened_hour %>
            |
            <%=open_day.time_closed_hour%>
          </p>
          <p>
            <%= open_day.address %>
          </p>
        </div>
        <hr>
      </div>
    <% end %>
</div>
